body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding-right: 40px;
}

ul li{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  padding-bottom: 30px;
}

a { color: inherit; text-decoration: none; } 
